{
  "openapi": "3.0.3",
  "info": {
    "title": "Ecommerce iFortepay API",
    "description": "This is a documentation for Ecommerce iFortepay API. For access protected API, hit API login to get access token then submit the token in the Authorize button on the top of this page",
    "contact": {
      "email": "rozy.firmansyah@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://ecommerce-ifortepay-api.rozy.dev"
    },
    {
      "url": "http://localhost:5000"
    }
  ],
  "tags": [
    {
      "name": "user",
      "description": "Operations about user"
    },
    {
      "name": "cart",
      "description": "Operations about cart"
    },
    {
      "name": "order",
      "description": "Operations about order"
    }
  ],
  "paths": {
    "/v1/register": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "User Registration API",
        "description": "",
        "operationId": "registerUser",
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Email Already Registered"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/login": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Logs user into the system",
        "description": "",
        "operationId": "loginUser",
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "User doesn't exist or incorrect password"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/cart": {
      "get": {
        "tags": [
          "cart"
        ],
        "summary": "Get list Product in Cart",
        "description": "",
        "operationId": "getCartUser",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": 1
            },
            "required": false
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": 10
            },
            "required": false
          }
        ],
        "security": [
          {
            "JWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCartResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "cart"
        ],
        "summary": "Add Product to Cart",
        "description": "",
        "operationId": "addCartUser",
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCartPayload"
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddCartResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/order": {
      "get": {
        "tags": [
          "order"
        ],
        "summary": "Get list Order",
        "description": "",
        "operationId": "getOrderUser",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": 1
            },
            "required": false
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": 10
            },
            "required": false
          }
        ],
        "security": [
          {
            "JWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "order"
        ],
        "summary": "Create Order",
        "description": "",
        "operationId": "CreateOrderUser",
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderPayload"
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/order/{orderId}": {
      "get": {
        "tags": [
          "order"
        ],
        "summary": "Get list Product inside the Order",
        "description": "",
        "operationId": "getOrderItemUser",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            },
            "required": true
          }
        ],
        "security": [
          {
            "JWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RegisterPayload": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.doe@mail.com"
          },
          "password": {
            "type": "string",
            "format": "password",
            "example": "R@nd0mS3cureP4ssw0rd"
          }
        }
      },
      "RegisterResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "example": 0
          },
          "message": {
            "type": "string",
            "format": "text",
            "example": "register success"
          }
        }
      },
      "LoginPayload": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.doe@mail.com"
          },
          "password": {
            "type": "string",
            "format": "password",
            "example": "R@nd0mS3cureP4ssw0rd"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "format": "text",
            "example": "this is access token value"
          }
        }
      },
      "GetCartResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64",
              "example": 1
            },
            "quantity": {
              "type": "integer",
              "format": "int32",
              "example": 1
            },
            "product": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int64",
                  "example": 1
                },
                "sku": {
                  "type": "string",
                  "example": "SKU123"
                },
                "name": {
                  "type": "string",
                  "example": "Macbook Pro"
                },
                "price": {
                  "type": "number",
                  "format": "float64",
                  "example": 5499.99
                }
              }
            }
          }
        }
      },
      "AddCartResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "example": 0
          },
          "message": {
            "type": "string",
            "format": "text",
            "example": "add product to cart success"
          }
        }
      },
      "AddCartPayload": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "quantity": {
            "type": "integer",
            "format": "int32",
            "example": 3
          }
        }
      },
      "GetOrderResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64",
              "example": 1
            },
            "amount": {
              "type": "number",
              "format": "float64",
              "example": 12345.67
            }
          }
        }
      },
      "GetOrderDetailResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64",
              "example": 1
            },
            "quantity": {
              "type": "integer",
              "format": "int32",
              "example": 1
            },
            "product": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int64",
                  "example": 1
                },
                "sku": {
                  "type": "string",
                  "example": "SKU123"
                },
                "name": {
                  "type": "string",
                  "example": "Macbook Pro"
                },
                "price": {
                  "type": "number",
                  "format": "float64",
                  "example": 5499.99
                }
              }
            }
          }
        }
      },
      "CreateOrderResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "example": 0
          },
          "message": {
            "type": "string",
            "format": "text",
            "example": "create order success"
          }
        }
      },
      "CreateOrderPayload": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "product_id": {
              "type": "integer",
              "format": "int64",
              "example": 1
            },
            "quantity": {
              "type": "integer",
              "format": "int32",
              "example": 3
            }
          }
        }
      }
    },
    "securitySchemes": {
      "JWT": {
        "type": "apiKey",
        "in": "header",
        "name": "access_token"
      }
    }
  }
}